container_commands:
  01_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'

  02_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true

  03_createadmin:
    command: "source /opt/python/run/venv/bin/activate && python manage.py createadmin"
    leader_only: true

  05_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true

  09_load_backup_command_to_bashrc:
    command: if ! grep -q "source /opt/python/current/env" /home/ec2-user/.bashrc; then echo "source /opt/python/current/env" >> /home/ec2-user/.bashrc; fi

  10_allow_commands_to_execute_with_sudo:
    command: echo Defaults:root \!requiretty >> /etc/sudoers

  11_download_the_backup_script:
    command: sudo wget -O /usr/local/bin/backup https://gist.githubusercontent.com/sergiu-terman/cc0a69622b034514005e82beeb49260d/raw/a4f256e31e10d3f0b6ca54eb0dc377b03bc7e318/backup && sudo chmod 755 /usr/local/bin/backup


option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "config.settings.production"
    PYTHONPATH: "/opt/python/current/app:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "config/wsgi.py"
    NumProcesses: 3
    NumThreads: 20
